@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
body {
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.0625em;
}
.navbar {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  min-height: 75px;
}
.navbar .nav-link,
.navbar .navbar-toggler {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5) !important;
}
.navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}
.navbar .nav-link:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}
.navbar .navbar-brand {
  color: rgba(255, 255, 255, 0.5);
}
.navbar .navbar-brand:hover {
  color: rgba(255, 255, 255, 0.5);
}
.landing {
  height: 100vh;
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      #000 100%
    ),
    url(../images/bg-masthead.jpg);
  background-size: cover;
}
.landing h1 {
  font-size: 110px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 12px;
}
@media (max-width: 991px) {
  .landing h1 {
    font-size: 75px;
  }
}
@media (max-width: 767px) {
  .landing h1 {
    font-size: 40px;
  }
  .landing p {
    font-size: 18px !important;
  }
}
.landing p {
  max-width: 480px;
  font-weight: 500;
}
.landing .btn {
  background-color: #64a19d;
  padding: 15px 30px;
  font-size: 12px;
  letter-spacing: 3px;
  border: 0;
}
.landing .btn:hover {
  background-color: #558985;
}
.about {
  padding-top: 10rem;
  background: linear-gradient(
    to bottom,
    #000 0%,
    rgba(0, 0, 0, 0.9) 75%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.about p {
  max-width: 680px;
}
.projects .image::before {
  content: "";
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 50%;
  background-color: #64a19d;
}
@media (max-width: 991px) {
  .projects .image::before {
    display: none;
  }
}
.contact {
  padding: 10rem 0;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 75%,
      #000 100%
    ),
    url(../images/bg-signup.jpg);
  background-size: cover;
}
.contact .btn {
  background-color: #64a19d;
  padding: 15px 30px;
  font-size: 12px;
  letter-spacing: 3px;
  border: 0;
}
.contact input {
  padding: 15px 30px;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgb(0 0 0 / 10%) !important;
  letter-spacing: 0.15rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  font-size: 12px;
}
.contact .btn:hover {
  background-color: #558985;
}
.social .box {
  border-radius: 4px;
  border-bottom: 5px solid #64a19d;
}
.social .box svg {
  color: #64a19d;
}
.social .box hr {
  height: 2px;
  background-color: #64a19d;
}
.social .icons a {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}
.social .icons a:hover {
  color: rgba(255, 255, 255, 0.5);
}
